body {
  margin: 0px;
}

.dot {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.2s ease-out;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 2;
}

.barcelona {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  opacity: 1;
  z-index: 1;
  mix-blend-mode: normal;
  background: white;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.img-wrapper {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 100px;
  left: 0px;
  right: 0px;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
/*
.img-wrapper:hover .barcelona {
  animation: 0.5s zoom 0s forwards;
}
*/
@keyframes zoom {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/*
.barcelona:hover ~ .dot {
  transform: scale(2) translate(-50%, -50%);
  /*animation: 0.5s grow 0s forwards;
}

.dot:hover ~ .barcelona:hover {
  transform: scale(2) translate(-50%, -50%);

  /*animation: 0.5s grow 0s forwards;
}

.dot:hover ~ .barcelona:not(:hover) {
  transform: scale(1) translate(-50%, -50%);

/*  animation: 0.5s grow 0s forwards;
}*/
